// @import "bourbon";
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&subset=vietnamese");

body,
html {
  height: 100%;
}

body {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#wrapper {
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
}
#alphabet {
  font-family: "Patrick Hand", cursive;
  display:flex;
  align-items:center;
  flex-direction: column;
  
  .char {
    font-size: 16em;
    &.regular {
      font-style: normal;
    }
    &.capitalize {
      text-transform: uppercase;
    }
  }
}